<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletTet</servlet-name>
        <servlet-class>com.hbzz.studyservlet.ServletParamsConfigTest</servlet-class>
        <init-param>
            <param-name>zhangsam</param-name>
            <param-value>18</param-value>
        </init-param>
        <init-param>
            <param-name>lisi</param-name>
            <param-value>20</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTet</servlet-name>
        <url-pattern>/ServletTet1</url-pattern>
    </servlet-mapping>
</web-app>